{% extends "layout.html"%}
{% block content%}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="/public/jquery-1.7.2.min.js"></script>
    <style>
        #mark{ display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:9999; background-color:#3c3c3c; opacity: 0.9;}
        .tabs,#closezc{ width:700px; margin:0 auto; background:#fff; }
        .tabs{ height:80%;}
        #closezc{ text-align:right; margin-top:50px;}
        #closezc a{ text-decoration:none;}
    </style>

</head>
<body>

<div data-role="page" id="pageone">
    <div data-role="main" class="ui-content">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" id="zc">添加</a>
        <div id="mark">
            <div id="closezc"><a href="javascript:void(0)">关闭</a></div>
            <div class="tabs">
                <form action="/index/commit" method="post" data-ajax='false'>
                    <table>
                        <tr>
                            <td>标题：</td>
                            <td><input type="text" name="title"/></td>
                        </tr>
                        <tr>
                            <td>内容：</td>
                            <td><textarea name="content" id="" cols="30" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="提交"/></td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <center><h2>信息列表</h2></center>
        <ol data-role="listview">
            {% for val in data%}
            <li>
                <a href="/index/add/id/{{val.id}}">标题：{{val.title}}     添加时间：{{val.times|date('Y-m-d')}}</a>
            </li>
            {% endfor%}
        </ol>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" >
            <ul>
                <li><a href="/index/lists" data-ajax='false'>列表</a></li>
                <li><a href="#">待开发</a></li>
                <li><a href="/index/first">个人中心</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    $(function(){
        $('#zc').click(function(){
            $('#mark').show();
        })
        $("#closezc a").click(function(){
            $("#mark").hide();
        })

    })
</script>
{% endblock%}