{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page" id="pageone">


    <div data-role="main" class="ui-content">
        <a href="/index/lists">返回</a>
        <center>
        {% for val in data%}
        标题：{{val.title}}<br/>
        内容：{{val.content}}<br/>
        时间：{{val.times}}<br/>
        {% endfor%}
        </center>
    </div>

    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" >
            <ul>
                <li><a href="/index/lists">列表</a></li>
                <li><a href="#">待开发</a></li>
                <li><a href="/index/first">个人中心</a></li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>

{% endblock %}